# BASE_DIR=/srv/cappuccino

# PGID=1000
# PUID=1000

# POSTGRES_HOST=/run/postgresql
# POSTGRES_DB=cappuccino
# POSTGRES_USER=cappuccino
# POSTGRES_PASSWORD=cappuccino

# CAPPUCCINO_NICK=
# CAPPUCCINO_REALNAME=cappuccino
# CAPPUCCINO_USERNAME=cappuccino
# CAPPUCCINO_HOST=
# CAPPUCCINO_PORT=6697
# CAPPUCCINO_SSL=true

## Optional
# CAPPUCCINO_PLUGINS__LASTFM__API_KEY=
# CAPPUCCINO_PLUGINS__SENTRY__DSN=
# CAPPUCCINO_PLUGINS__NICKSERV__PASSWORD=
